:80 {
	handle /actions/* {
		reverse_proxy islands:8001 {
			flush_interval -1
		}
	}
	handle /health {
		reverse_proxy islands:8001
	}
	@hashed path /assets/*
	handle @hashed {
		root * /srv
		file_server
		header Cache-Control "public, max-age=31536000, immutable"
	}
	handle {
		root * /srv
		file_server
		header Cache-Control "no-cache"
	}
}
