<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/__okmate/app.css">
    <script type="module" src="/__okmate/datastar.js"></script>
    <script src="/__okmate/goto.js" defer></script>
  </head>
  <body>
    <div class="okmate-shell">
      <div class="okmate-chrome" id="okmate-nav">
        {% include "nav.html" %}
      </div>
      <main id="okmate-main">
        {% block main %}{% endblock %}
      </main>
      {% include "toc.html" %}
    </div>
    <dialog id="okmate-goto" class="okmate-goto" aria-label="Go to page">
      <input id="okmate-goto-input" type="search" placeholder="Go to page" autocomplete="off">
      <ul id="okmate-goto-list"></ul>
    </dialog>
  </body>
</html>
